

<body>

    <div class="main-wrapper">
        <header class="header-area">
            <div class="container">
                
                <div class="header-small-device small-device-ptb-1">
                    <div class="row align-items-center">
                        <div class="col-5">
                            <div class="mobile-logo">
                                <a href="/">
                                    <img alt="" src="assets/images/logo/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="header-action header-action-flex">
                                <div class="same-style-2">
                                    <a href="login-register.html"><i class="icon-user"></i></a>
                                </div>
                                <div class="same-style-2">
                                    <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count red">03</span></a>
                                </div>
                                <div class="same-style-2 header-cart">
                                    <a class="cart-active" href="#">
                                        <i class="icon-basket-loaded"></i><span class="pro-count red">02</span>
                                    </a>
                                </div>
                                <div class="same-style-2 main-menu-icon">
                                    <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Mobile menu start -->
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="clickalbe-sidebar-wrap">
                <a class="sidebar-close"><i class="icon_close"></i></a>
                <div class="mobile-header-content-area">
                    <div class="header-offer-wrap mobile-header-padding-border-4">
                        <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders over <span>$199</span></p>
                    </div>
                    <div class="mobile-search mobile-header-padding-border-1">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here…">
                            <button class="button-search"><i class="icon-magnifier"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-padding-border-2">
                        <!-- mobile menu start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children"><a href="index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home version 1 </a></li>
                                        <li><a href="index-2.html">Home version 2</a></li>
                                        <li><a href="index-3.html">Home version 3</a></li>
                                        <li><a href="index-4.html">Home version 4</a></li>
                                        <li><a href="index-5.html">Home version 5</a></li>
                                        <li><a href="index-6.html">Home version 6</a></li>
                                        <li><a href="index-7.html">Home version 7</a></li>
                                        <li><a href="index-8.html">Home version 8</a></li>
                                        <li><a href="index-9.html">Home version 9</a></li>
                                        <li><a href="index-10.html">Home version 10</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">shop</a>
                                    <ul class="dropdown">
                                        <li class="menu-item-has-children"><a href="#">shop layout</a>
                                            <ul class="dropdown">
                                                <li><a href="shop.html">standard style</a></li>
                                                <li><a href="shop-list.html">shop list style</a></li>
                                                <li><a href="shop-fullwide.html">shop fullwide</a></li>
                                                <li><a href="shop-no-sidebar.html">grid no sidebar</a></li>
                                                <li><a href="shop-list-no-sidebar.html">list no sidebar</a></li>
                                                <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                                                <li><a href="store-location.html">store location</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Products Layout</a>
                                            <ul class="dropdown">
                                                <li><a href="product-details.html">tab style 1</a></li>
                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                <li><a href="product-details-sticky.html">sticky style</a></li>
                                                <li><a href="product-details-gallery.html">gallery style </a></li>
                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                <li><a href="product-details-group.html">group style</a></li>
                                                <li><a href="product-details-fixed-img.html">fixed image style </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="about-us.html">about us </a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                        <li><a href="checkout.html">checkout </a></li>
                                        <li><a href="my-account.html">my account</a></li>
                                        <li><a href="wishlist.html">wishlist </a></li>
                                        <li><a href="compare.html">compare </a></li>
                                        <li><a href="contact.html">contact us </a></li>
                                        <li><a href="order-tracking.html">order tracking</a></li>
                                        <li><a href="login-register.html">login / register </a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children "><a href="#">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">blog standard </a></li>
                                        <li><a href="blog-no-sidebar.html">blog no sidebar </a></li>
                                        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu end -->
                    </div>
                    <div class="mobile-header-info-wrap mobile-header-padding-border-3">
                        <div class="single-mobile-header-info">
                            <a href="order-tracking.html"><i class="lastudioicon-pin-3-2"></i> Track Your Order </a>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-language-active" href="#">Language <span><i class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown lang-dropdown-active">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-mobile-header-info">
                            <a class="mobile-currency-active" href="#">Currency <span><i class="icon-arrow-down"></i></span></a>
                            <div class="lang-curr-dropdown curr-dropdown-active">
                                <ul>
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">Real</a></li>
                                    <li><a href="#">BDT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-contact-info mobile-header-padding-border-4">
                        <ul>
                            <li><i class="icon-phone "></i> (+612) 2531 5600</li>
                            <li><i class="icon-envelope-open "></i> norda@domain.com</li>
                            <li><i class="icon-home"></i> PO Box 1622 Colins Street West Australia</li>
                        </ul>
                    </div>
                    <div class="mobile-social-icon">
                        <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                        <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                        <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                        <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="icon_close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Simple Black T-Shirt</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Norda Backpack</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">OTP login & register </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-115 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-toggle="tab" href="#lg1">
                                    <h4> login </h4>
                                </a>
                                <a data-toggle="tab" href="#lg2">
                                    <h4> register </h4>
                                </a>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form id="otp-login">
                                                <input type="number" name="user-name" placeholder="Enter your registered number" id="number-login" required>
                                              
                                                <div class="button-box">
                                                     <h4 style="color: red; display: none;" id="invalid2">Number not found</h4> 
                                                     <h4 style="color: red; display: none;" id="blocked-user" >User is blocked</h4>
                                                    <button type="submit" id="sent-login-otp-button">Sent Otp</button>
                                                   
                                                </div>
                                            </form>
                                             <form id="otp-login-submit" style="display: none ;margin-top: 30px;">
                                                 <input type="number" name="otp" placeholder="Enter your otp" required id="otp-in-login">
                                                 <h4 style="color: red; display: none;" id="wrong-otp-ub-login" >OTP wrong</h4>
                                                 <div class="button-box">
                                                  
                                                     
                                                    <button type="submit">Submit Otp</button> 
                                                </div>
                                                <button class="otp-style mt-2" id="resend-otp-in-login">Resend</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="lg2" class="tab-pane">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form id="otp-register" >
                                                <input type="text" name="name" placeholder="Name" required id="name">
                                                <input type="number" name="number" placeholder="Enter your number" required id="number">
                                                <input type="email" name="email" placeholder="Enter your email" required id="email-register">
                                                
                                             
                                                <div class="button-box">
                                                    <h4 style="color: red; display: none;" id="email-invalid" >Email already Taken</h4>
                                                    <h4 style="color: red; display: none;" id="number-invalid" >Number already Taken</h4>
  
                                                    <button type="submit" id="send-otp-button">send Otp</button> 
                                                </div>
                                            </form>
                                            <form id="otp-register-submit" style="display: none ;margin-top: 30px;">
                                                 <input type="number" name="otp" placeholder="Enter your otp" required id="otp">
                                                 <h4 style="color: red; display: none;" id="wrong-otp" >OTP wrong</h4>
                                                 <div class="button-box">
                                                  
                                                     
                                                    <button type="submit">Submit Otp</button> 
                                                </div>
                                                <button class="otp-style mt-2" id="resend">Resend</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

   

</body>
			<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script>
    $('#otp-register').submit((e)=>{
        e.preventDefault()
        let name=$('#name').val()
        let mobile=$('#number').val()
        let email=$('#email-register').val()
        $('#number-invalid').hide()
        $('#email-invalid').hide()
       
        $.ajax({
			url:'/otp-register',
			method:'post',
			data:{

				name,mobile,email
			},
			success:(response)=>{
				if(response.status){
					$('#otp-register-submit').show()
                    $('#send-otp-button').hide()
                    $('#name').attr('readonly',true)
                    $('#number').attr('readonly',true)
                    $('#email-register').attr('readonly',true)
					
				}else if(response.number){
                    $('#number-invalid').show()
                }else if(response.email){   
                    $('#email-invalid').show()
                }
			}
		})
    })

    $('#otp-register-submit').submit((e)=>{
        e.preventDefault()
       
        let otp=$('#otp').val()
        let name=$('#name').val()
        let mobile=$('#number').val()
        let email=$('#email-register').val()
        $('#wrong-otp').hide()

          $.ajax({
			url:'/verify-otp',
			method:'post',
			data:{
				otp,name,mobile,email
			},
			success:(response)=>{
				if(response.status){
                    window.location.href='/otp'
                }else{
                    $('#wrong-otp').show()
                }
			}
		})
       
    })

    $('#resend').click((e)=>{
        e.preventDefault()
        $('#wrong-otp').hide()
        $.ajax({
            url:'/resend-otp',
            method:'post',
            success:(response)=>{
                if(response.status){
                     $('#wrong-otp').hide()
                }
            }
        })
    })

    $('#otp-login').submit((e)=>{
        e.preventDefault()
        let mobile=$('#number-login').val()
        $('#invalid2').hide()
        $.ajax({
            url:'/otp-login',
            method:'post',
            data:{
                mobile,
            },
            success:(response)=>{
                if(response.status){
                    $('#sent-login-otp-button').hide()
                    $('#number-login').attr('readonly',true)
                    $('#otp-login-submit').show()
                    $('#invalid2').hide()
                }else{
                    $('#invalid2').show()
                }
            }
        })
        
    })

    $('#otp-login-submit').submit((e)=>{
        e.preventDefault()
        let mobile=$('#number-login').val()
        let otp=$('#otp-in-login').val()
        $('#wrong-otp-ub-login').hide()

        $.ajax({
            url:'/otp-login-verify',
            method:'post',
            data:{
                mobile,otp
            },
            success:(response)=>{
                if(response.status){
                    window.location.href='/user-home'
                }else if(response.block){
                    $('#blocked-user').show()
                }
                else{
                    $('#wrong-otp-ub-login').show()
                }

            }
        })    

    })
    $('#resend-otp-in-login').click((e)=>{
        e.preventDefault()
        
        $('#wrong-otp-ub-login').hide()
        $.ajax({
            url:'/resend-otp',
            method:'post',
            success:(response)=>{
                if(response.status){
                     $('#wrong-otp').hide()
                }
            }
        })
    })

</script>